.inner {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    padding: 40px;
  }
  @media (min-width: 768px) {
    .inner {
      width: 50%;
      height: 100%;
    }
  }

  .title {
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: 700;
    color: #181818;
    text-shadow: 0px 2px 2px #a6f8d5;
    position: relative;
    margin: 0 0 20px 0;
  }
  @media (min-width: 768px) {
    .title {
      font-size: 30px;
    }
  }
  
  .subtitle {
    color: #b0215e;
    text-align: center;
  }