button{
    margin-left: 2%;
}
.title{
    margin-top:30px;
    color:purple;
}
img{
    border:2px solid gray;
    padding:1px;
    margin:20px;
    width:70%;
    height:500px;

}
.exp{
    border:1px dashed lightgray;
    padding:5px;
    margin: 0 10px;
    margin-bottom:30px;
    text-align: justify;
}