.card {
    height: 400px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    border: 4px solid #b0215e;
    margin-bottom: 5px;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .card {
      height: 500px;
    }
  }