.App {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    width: 100%;
    /* background-color: pink; */
}
.App::after {
    content: "";
    background-image: url(../assets/images/space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

/* HOME VIEW ------------------ */

.Home {
    /* background-color: yellow; */
}

.Home > .hero {
    /* align-content: center;
    display: flex;
    flex-flow: column wrap;
    height: calc(100vh - 57px); */
    justify-content: center;
    margin: 100px auto 0;
    width: 940px;
    /* background-color: skyblue; */
}
.Home > .hero .brand {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* background-color: skyblue; */
}
.Home > .hero .brand img {
    width: 60px;
}
.Home > .hero .brand h1 {
    color: #FFF;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 20px;
}

.Home > .hero .title {
    margin-top: 20px;
    /* background-color: pink; */
}
.Home > .hero .title h2 {
    color: #FFF;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.6);
    font-size: 6rem;
    font-weight: 900;
    line-height: 6.5rem;
}
.Home > .hero .title h2 span {
    display: block;
}
.Home > .hero .title h2 span i {
    color: #FF4545;
    font-style: normal;
}



/* NAV COMPONENT -------------- */
/* FIX THE WITH OF THE ELEMENT LATER SO I CAN DELETE: text-align: center; */

.Nav {
    margin-top: 20px;
    /* background-color: skyblue; */
}
.Nav > ul {
    display: block;
    text-align: center;
}
.Nav > ul li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}
.Nav > ul li a {
    color: #FFF;
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 0;
}
.Nav > ul li a:hover {
    color: rgba(255, 255, 255, 0.7);
}




/* CARD COMPONENT -------------- */

.Card {
    background-color: #FF4545;
    border-radius: 10px;
    display: inline-block;
    padding: 25px 15px;
    width: calc(200px - 30px);
}
.Card > img {
    margin-bottom: 1rem;
    width: 30px;
    color: red;
    fill: green;
}
.Card > h4 {
    margin-bottom: 0;
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
}
.Card > h3 {
    margin-bottom: 2rem;
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
}
.Card > p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}