.imageContainer{
    /* border:5px dotted white; */
    /* height: 80vh; */
    width:80%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageContainer img{
    height: 400px;
    width: 70%;
    margin: 2% 0;
    

}
.imageInfo{
    color:whitesmoke;
    background-color:rgba(146, 146, 245, .15);
    font-size: large;
    font-weight: bold;
    padding: 2%;
    /* margin: 0 2%; */
}