/* .img-text-container {
    background: #7cc1ac;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-title {
    color: #B34151;
}

.img-explanation {
    color: #1f4e47;
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 10%;
    justify-content: center;
} */
