@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');

.background-container {
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}