.footerCard {
  color: green;
  padding: 5%;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 4%;
}
button {
    background-color: lightskyblue;
}

button:hover {
    padding: 5%;
    background-color: lime;
}

