.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .photo-card img {
     width: 75%;
     height: 500px;
     border-radius: 10px;
 }
