body {
  background-color: #2f2f2f;
  color: wheat;
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
}

h2 {
  display: inline;
}

.picDiv {
  padding: 0.75rem;
  width: 80%;
  min-height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.picDiv button {
  border: 3px solid wheat;

  padding: 1.5rem;
  color: wheat;
  background-color: #000000;
  font-weight: bolder;
  font-size: 15px;
  margin: 1.5rem;
}
.picDiv button:hover {
  border: 3px solid #000;
  background-color: wheat;
  color: #000;
}

.picDiv img {
  border: 4px solid wheat;
  box-shadow: 8px 8px 8px 8px #000;
}
