/* RGB */
$light: rgba(84, 75, 61, 1);
$darkgreen: rgba(78, 110, 88, 1);
$background: rgba(76, 133, 119, 1);
$alternate: rgba(151, 215, 204, 1);
$dark-alt: rgba(122, 223, 187, 1);
.wrapper {
	background-color: $light;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 3.6rem;
		font-weight: bold;
		color: $darkgreen;
		text-shadow: 2px 2px $background;
	}

	#date {
		font-size: 3.8rem;
	}

	img {
		width: 50%;
		height: 50vh;
		margin: 10px 0 10px 0;
	}

	h4 {
		font-size: 2.0rem;
		colors: $dark-alt;
	}

	p {
		font-size: 1.6rem;
		width: 50%;
		font-family: 'Exo 2', sans-serif;
		color: $light;
	}
}
