.dateContainer{
position: absolute;
right: 7%;
top: 9%;
box-shadow: 0 0 3px;
display: flex;
flex-direction: column;
width: 10%;
background-color: blue ;
transition-timing-function: ease;
}

.textAboveDateInput{
    margin-top: 10%;
margin-bottom: 10%;
color: white;
background-color: blue;
}

.dateInput{
background-color: blue;
border: 2px solid white;
color: white;
}
