.headerItems{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px 0 white;
    padding: 1%;
    margin: 1%;
  }
  
  .text{
    color:black;
    margin: 1%;
    -webkit-text-stroke-color: white ;
    -webkit-text-stroke-width: medium;
    font-size: 1.5rem;
  }
  
  .dateButton{
    border: none;
    background-color: black;
    color: blue;
    font-size: 2.5rem;
    transition: 300ms;
    position: absolute;
    right: 8%;
    top: 7.4%;
  }
  
  .dateButton:hover{
    cursor: pointer;
    transform: scale(1.2);
  }

  .img{
    height: 80vh;
    width: 60%;
  }

