/*.content {
    padding:50px 0;
}*/

.content .silent {
    color:#999;
    letter-spacing: 0.1em;
    /*font-size:1.5em;*/
}

.content .text-title {
    font-weight:bold;
    letter-spacing: 0.1em;
    font-size:1.7rem;
}

.content .text-body {
    word-spacing: 0.1em;
}

.content p, h2 {
    padding:10px 0;
    /*font-size:1.5em;*/
}