.wrapper{
    display: inline-table;
    margin-left: 50%;
    margin-right: 50%;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    width: 35%;
    background: white;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); 

    // @media screen {
    //     width: 50%;
    // }
}
.photo {
   
    width: 90%;

    img {
        width: 90%;
        padding: 10% 10% 0 10%;
    }
}

.info {
    padding: 2% 5% 5% 5%;
}

.logoContainer{
    margin-top: 25px;
    h1{
        color: white;
    }
}
.logo {
    width: 10%;
    top: 25px;
  }
  