/* header{
    text-align: center;
    margin: 4% 10% 5% 10%;
} */

/* .apod-container{
    display:flex;
    max-height: 60vh;
    margin: 2% 5%;
    border: 1px solid #4f4f4f;
    padding: 2 2%;
  } */
/*   
  .description-container{
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      align-items:center;
      flex-direction: column;      
  }
  
  .image-container{
    max-width:55%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
  }
  
  img{
    object-fit:contain;
    margin: 0 auto;
    
  }

  .description{
    text-indent: 30px; 
  } */