header{
    text-align: center;
    margin: 4% 10% 5% 10%;
}

.apod-container{
    display:flex;
    height: 60vh;
    margin: 2% 5%;
  }
  
  .description-container{
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
  }
  
  .image-container{
    max-width:55%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
  }
  
  img{
    object-fit:contain;
    margin: 0 auto;
    
  }