.App {
  text-align: center;

  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url('./assets/space.jpg');
  background-repeat: no-repeat;
  display: flex;
  // overflow: hidden;

  // background-color: black
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

// .App-header {
//   background-color: #282c34;
//   min-height: 10vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 25px;
}

// .rightWrapper{
//   // overflow: hidden;

// }