@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.photo{
  height: 100vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.photo h1 {
  position: absolute;
  top: 0;
  margin: 20px auto 0;
  left: 25%;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 5px 0px rgba(52, 52, 53, 0.75)
}

.photo p {
position: absolute;
bottom: 25px;
width: 60%;
text-align: center;
left: 18%;
background-color: white;
padding: 20px;
border-radius: 20px;
box-shadow: 10px 10px 5px 0px rgba(52, 52, 53, 0.75)
}

span {
position: absolute;
top: 0;
right: 0;
margin: 10px 20px 0 0;
z-index: 7;
color: white;
text-shadow: 2px 2px #0c0b0b;
font-size: 48px;
}

h3 {
  z-index: 5;
  position: absolute;
  top: 0;
  margin: 100px auto;
  left: 25.2%;
  color: white;
  text-shadow: 1px 1px #0c0b0b;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
