.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#imageSky {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
}
#bodyText {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  color: #eee;
  text-align: justify;
}
#headerTitle {
  font-family: "Nanum Myeongjo", serif;
  position: absolute;
  top: 3.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #eee;
}
