.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.apodCard img {
  width: 700px;
  height: 600px;
  margin-top: 1%;
}

.apodCard p {
  width: 60%;
  margin-left: 20%;
}

.apodCard h1 {
  background: #100f35;
  color: white;
  padding-top: 8px;
  padding-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
