.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h2 {
  font-family:'Smooch', cursive;
  font-size: 50px;
}
img {
  border-radius: 5%;
}
.photo img :hover{
  border-radius: 0%;
  transform: scale(0.7);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
