.App {
  margin: 0 auto;
  text-align: center;
  max-width: 960px;
}

.photo {
  max-width: 740px;
  margin: 0 auto;
}

.photo img {
  width: 100%;
}

header {
  font-size: 2rem;
  font-weight: 900;
  padding: 2rem;
}

.title {
  font-size: 1.3rem;
}