.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.header .nasa-logo {
  height: 100px;
}

.picture {
  width: 40%;
  margin: 0 auto;
}

.explanation {
  width: 75%;
  margin: 3% auto;
  text-align: center;
}

.title {
  margin-bottom: 5%;
}