.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  font-size: 2.4rem;
  text-align: center;
  padding-right: 1%;
  color: white;
}

.explanation {
  font-size: 2rem;
  text-align: center;
  padding-right: 8%;
  color: white;
  width: 50%;
  padding-left: 25%;
  text-align: justify;
}

.date {
  font-size: 2rem;
  text-align: center;
  padding-right: 8%;
  color: white;
  width: 50%;
  padding-left: 25%;
  text-align: center;
}