.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% auto 1% auto; 
}

.img-centered {
  text-align: center;
  max-height: 100%;
  max-width: 90%;
  border-radius: 4px;
}

.card {
  background: gray;
  height: auto;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

p {
  padding: 0 3% 3% 3%;
  font-size: 1.2rem;
  text-align: left;
}

.bold {
  font-weight: bold;
}

.copyright {
  padding: 0;
  font-size: 1.0rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.0rem;
} 

.fontSize {
  font-size: 2.0rem;
}

.header {
  font-size: 4rem;
}