.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.TextCont {
  display: flex;
  width: 35%;
}

@media (max-width: 600px) {
  .TextCont {
    width: 100%;
  }
}

.buttoncont {
  display: flex;
  margin-left: 1%;
  padding-bottom: 10px;
}

p,
h1,
h2 {
  font-size: 1rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  align-items: center;
}

.formbuttondiv {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 2.5%;
  padding-top: 0.5%;
}

a:hover {
  cursor: pointer;
}

.DN {
  display: none;
}

.Forminput {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  align-items: flex-end;
  padding-top: 5%;
  padding-right: 2%;
}

.formbg {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
}
