.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: rgb(92, 102, 99);
}
.heading{
  color:rgb(39, 11, 200);
  font-family: 'Lobster', cursive;
  text-shadow: 3px 3px white;
  font-size:4rem;
}
img{
  box-shadow: 5px 5px 5px rgb(95, 86, 86);
}
.explanation{
  max-width: 80%;
  padding-left: 11%;
  font-size: 1rem;
  color:white;
  text-shadow: 2px 2px 2px black;
}
.button-wrapper{
  padding:5px;
}
.button{
  background-color: rgb(39, 11, 200);
  border: none;
  border-radius:8px;
  padding: 12px;
}