.card-container {
    padding: 2%;
}

.daily-photo {
    display:block;
    max-width: 100%;
    height: auto;
    max-height: 80vh;
    margin: 0 auto;
}
.card-flex-container {
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.info-header {
    background-color: grey;
    opacity: .8;
    line-height: 5px;
    padding: 15px 0px;
    border-radius: 10px;
}

.photo-container {
    width: 70%;
    max-height: 800px;
}
.photo-info {
    width: 30%;
}
.photo-story {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0px;
}

@media screen and (max-width: 850px) {
    .card-flex-container {
        flex-direction: column;
    }
    .photo-container, .photo-info {
        width: 100%;
    }
    .photo-container {
        margin-bottom: 2%;
    }
}