.logoHeader {
  width: 10%;
  height: 20vh;
  border-radius: 50%;
}

.headerContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: #395abd;
  padding: 2%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  color: white;
  font-size: 2rem;
}

.topBar {
  display: flex;
  align-items: center;
}

.topBar img {
  width: 10%;
}

.topBar h1 {
  width: 70%;
  font-size: 8rem;
}

.header2 {
  margin: 5px 20px;
}
