body {
  margin: 0;
  font-family: 'Nanum Gothic Coding', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: black;
  color: greenyellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

}

html{
  min-height: 100%;
  overflow: hidden;
}

.line-1 {
    display: flex;

    top: 50%;  
    width: 24em;
    margin-top: 10rem;
    margin-left: 37rem;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 35rem;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


.fade-in-button { animation: fadeIn 2s;
background-color: greenyellow;
color: black; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

img{
  height: 600px;
  width: 600px;
}
