body {
  margin: 0;
  font-family:'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.apodImg {
  width: 100%;
  height: auto;
}

h1, h2, a{
  font-family:'Anton', sans-serif;
}

p {
  font-family:'Dosis', sans-serif;
  
}