body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, p.subtitle{
  color: rgb(228, 120, 250);
}

img {
  width: 75%;
  border-radius: 10%;
  padding: 2%;
}
h2.pic-title {
  font-size: 1.75rem;
  color: rgb(228, 120, 250)
}
p.pic-info, p.pic-title, p.date-info {
  color: rgb(228, 120, 250)
}
div.outer-container{
  display: inline-block;
  width: 75%;
}
div.container {
  display: flex, inline-block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgba(220, 20, 60, 0.13);
  color: #fff;
  border-radius: 2%;
}
div.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button.nasa-website{
  padding: 2%;
  border-radius: 6%;
  color: rgb(6, 232, 248);
  background-color: rgb(73, 20, 220);
  border-color:rgb(255, 135, 135);
  border-style: solid;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2%;
}