body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #27272d;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* The CSS Reset*/
  html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
  del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
  h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
  dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    }
  /* remember to define focus styles! */
  :focus {
    outline: 0;
  }
  body {
  /* 	background: white; */
    line-height: 1;
    color: black;
  }
  ol, ul {
    list-style: none;
    }
  /* tables still need cellspacing="0" in the markup */
  table {
    border-collapse: separate;
    border-spacing: 0;
    }
  caption, th, td {
    font-weight: normal;
    text-align: left;
    }
  /* remove possible quote marks (") from <q> & <blockquote> */
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    }
  blockquote, q {
    quotes: "" "";
    }

  /* Another option besides CSS Reset is Normalize CSS*/

  /*General Styles*/

  *{
    box-sizing: border-box; /* it tells elements that they need to respect the width we've given it using this rule;*/ 
    max-width:100%; /* this tells elements to never become bigger than their parent*/ 
  }

  html{
    font-size: 62.5%; /* the browsers default font-size is 16px and by setting html to 62.5% then 1 rem = 10px. Since %s are a scalable unit this gives the user more control over their font size*/
  }

  body{
    font-size:1.6rem;
    line-height: 1.5; /* doesnt need a unit of measure; it is the font size * line height value*/
  }
  a{
    text-decoration: underline;
    color:inherit;
  }