* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: rgb(244, 244, 244);
  color: rgb(65, 75, 60);
  font-family: 'Bitter', serif;
}
.container {
  width: 800px;
  margin: 0 auto;
  border: 1px solid rgb(210, 210, 210);
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
}
.photo {

}

.photo_img{
  display: block;
  margin: 0 auto;
  width: 93%;
  box-shadow: 0px 1px 6px -2px slategray;
  border-radius: 8px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100px;
  background-color: #0093D2;
  color:white;
  text-align: center; 

}
.header-section h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.header-section{
  
  text-align: center;
 
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 0 25px 0 25px;
  text-align: center;
}
blockquote {
  background-color: #84cceb;
  width: 50%;

}
p{
  font-family: 'Roboto', sans-serif;
  font-weight: light;
  word-spacing: 3px;
  text-align: justify;
}
.details{
  padding: 12px 25px 12px 25px;

}