
.header{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}

.header h2{	
	font-size: 50px;
}
.header span{
	font-size: 12px;
}

.nasa-logo{
	width: 200px;
	height: 180px;
}

.coder{
	display: flex;
	align-items: flex-end;
}

.title-header{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 30px;
	margin: 0 auto;
}

.photo-explanation{
	display: flex;
	justify-content: start;
	font-size: 20px;
	margin: 0 auto;
	flex-wrap: wrap;
}