.logo{
    margin-top: 2%;
}

.marsWrapper{
    padding-right: 5%;
}
.marsPhoto{
    display: flex;
    flex-wrap: wrap;

    img{
        width: 20%;
        height: auto;
    }
}

h1.marsHeading{
    color: white;
}

.marsCard{
    padding: 2%;
}
.card{
    // width: 90%;
    // padding: 3%;
}